# MÃ³dulo 3: Ejercicio de evaluaciÃ³n final - ELISABET AGUILÃ“ THIÃ“

## Pre-Fase: ComprensiÃ³n de los Datos

Los datos proporcionados consisten en dos datasets que, en conjunto, describen el comportamiento de los clientes dentro de un programa de lealtad de una aerolÃ­nea.

- Customer Flight Analysis.csv muestra informaciÃ³n sobre la actividad de vuelo de los clientes (nÃºmero de vuelos reservados, distancia volada, puntos acumulados, acompaÃ±antes, etc.).

- Customer Loyalty History.csv contiene el perfil detallado de los clientes (ubicaciÃ³n, nivel educativo, ingresos, estado civil, etc.).

## Fase 1: ExploraciÃ³n y Limpieza

## 1.1. LibrerÃ­as

In [68]:
# ------------------------------
# ManipulaciÃ³n de datos
# ------------------------------
import pandas as pd        # pandas â†’ trabajar con tablas (DataFrames)
import numpy as np         # numpy â†’ operaciones numÃ©ricas y manejo de nulos (np.nan)
import os                  # os â†’ interacciÃ³n con el sistema operativo (verificar existencia de archivos)

# ------------------------------
# ConfiguraciÃ³n del entorno
# ------------------------------
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas en la salida
pd.set_option('display.max_rows', 100)      # Limitar filas mostradas a 100 (para evitar salidas excesivas)

## 1.2. MetodologÃ­a

- Antes de juntar los datos, revisamos y limpiamos cada CSV por separado.
- Cada archivo puede tener datos incompletos, errores, duplicados, inconsistencias y proceder de distintas fuentes que causen problemas al combinarlos.
- Limpiarlos individualmente garantiza que los datos sean correctos para el anÃ¡lisis.

## 1.3 CSV A â€“ â€œCustomer Flight Activityâ€

In [69]:
# Definimos la ruta donde estÃ¡ el archivo (carpeta "data" + nombre del archivo)
ruta = "data/Customer Flight Activity.csv"

# Verificamos si el archivo existe en esa ruta
if os.path.exists(ruta):
    # Si existe, lo leemos y lo convertimos en un DataFrame
    df_flight = pd.read_csv(ruta)
    print("âœ… Archivo cargado correctamente")
else:
    # Si no existe, mostramos un mensaje de error
    print("âš ï¸ Archivo no encontrado")
    df_flight = None

âœ… Archivo cargado correctamente

In [ ]:
# â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
# ğŸ” EXPLORACIÃ“N INICIAL - Customer Flight Activity.csv
# â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•

# 1ï¸âƒ£ DIMENSIÃ“N DEL DATASET (NÃšMERO DE FILAS Y COLUMNAS)
# Cuando usas shape, lo que estÃ¡s obteniendo es una tupla con dos valores (filas, columnas): 
print(f"Filas: {df_flight.shape[0]:,} | Columnas: {df_flight.shape[1]}")
# df_flight.columns ya es suficiente para ver las columnas, pero nos muestra un Index
# si queremos una lista de las columnas, podemos convertirlo a lista con tolist()
print("Columnas:", df_flight.columns.tolist())

# Anotaciones: 
# COLUMNAS = "Â¿QUÃ‰ PUEDO MEDIR?"
# 10 columnas = 10 cosas distintas (nÃºmero de vuelos reservados, distancia volada, puntos acumulados, acompaÃ±antes, etc.)
# FILAS = "Â¿CUÃNTOS CASOS TENGO?"
# MÃ¡s de 400K filas = grande (por encima de 100K) â†’ Esto significa que hay muchos registros (muchos casos), los resultados reflejaran mejor la realidad que teniendo pocos casos.

Filas: 405,624 | Columnas: 10
Columnas: ['Loyalty Number', 'Year', 'Month', 'Flights Booked', 'Flights with Companions', 'Total Flights', 'Distance', 'Points Accumulated', 'Points Redeemed', 'Dollar Cost Points Redeemed']

In [ ]:
# 2ï¸âƒ£ INFORMACIÃ“N GENERAL DE LOS DATOS (PRESENCIA DE VALORES NULOS Y TIPOLOGÃA DE DATOS)
df_flight.info()
# podemos profundizar mÃ¡s que con el shape: ademÃ¡s de ver las filas y columnas,
# vemos tipos de datos y cuÃ¡ntos valores nulos tiene cada columna

# Anotaciones:
# - El dataset tiene 405,624 registros y 10 columnas.
# - La mayorÃ­a de los datos son nÃºmeros enteros (sin decimales).
# - Solo la columna 'Points Accumulated' tiene decimales.
# - No hay columnas categÃ³ricas, es decir: no hay columnas de tipo object. 
# - En la fase de limpieza se valorarÃ¡ convertir Year y Month a categÃ³ricas,
#   ya que son etiquetas/identificadores y no se operan matemÃ¡ticamente.
# - TambiÃ©n se valorarÃ¡ convertir Loyalty Number a string,
#   porque tiene muchos valores Ãºnicos y no conviene tratarlo como categorÃ­a.
# - No hay valores faltantes ( valores nulos) en ninguna columna (405624 non-null).

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB

In [ ]:
# 3ï¸âƒ£ INSPECCIÃ“N DE REGISTROS (PRIMERAS, ÃšLTIMAS Y FILAS ALEATORIAS)
# display() se usa para mostrar tablas de forma clara en un notebook (mejor que print)

display(df_flight.head())      
display(df_flight.tail())      
display(df_flight.sample(5, random_state=42))  # Muestra filas al azar. random_state=42 â†’ siempre las mismas

#Anotaciones
# Primeras filas
# - Verifica: que los datos se cargaron bien y muestra las columnas
# - Cada fila es la actividad mensual de un cliente (Year + Month).
# - Los nombres de las columnas pueden generar errores. En fase de limpieza, eliminar espacios y mayÃºsculas para facilitar anÃ¡lisis posteriores. 
# - Total Flights podrÃ­a ser la suma de Flights Booked + Flights with Companions. En la fase de limpieza, comprobar:
#   Flights Booked (Vuelos sin acompaÃ±antes reservados en ese mes) 
#   + Flights with Companions (Vuelos con acompaÃ±antes reservados en ese mes) 
#   = Total de vuelos del mes reservados (sin acompaÃ±antes + con acompaÃ±antes)

# - Los ceros en la columna Points redeemed ( canjeo de puntos) pueden indicar: 
# 1. Vuela â†’ Acumula puntos (SIEMPRE, Points accumulated)
# 2. Canjea â†’ Gasta puntos (NO SE OBSERVA, el cliente puede no tener suficientes puntos para canjearlos o por desconocimiento).

# Ãšltimas filas
# - Detecta: filas finales que no son datos reales (suma de totales o notas que no son registros de clientes)
# - En nuestro caso, las Ãºltimas filas muestran solo datos reales de clientes.

# Muestra aleatoria
# - Revisar filas al azar ayuda a detectar errores no visibles al inicio o final.
# - En la muestra no se observan errores evidentes.

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
405619,999902,2018,12,0,0,0,0,0.0,0,0
405620,999911,2018,12,0,0,0,0,0.0,0,0
405621,999940,2018,12,3,0,3,1233,123.0,0,0
405622,999982,2018,12,0,0,0,0,0.0,0,0
405623,999986,2018,12,0,0,0,0,0.0,0,0

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
182259,802535,2017,11,0,0,0,0,0.0,0,0
78391,674643,2017,5,0,0,0,0,0.0,0,0
24345,496371,2017,2,4,4,8,1512,151.0,0,0
297818,659419,2018,6,0,0,0,0,0.0,0,0
203891,158560,2018,1,3,0,3,1911,191.0,0,0

In [ ]:
# 4ï¸âƒ£ RESUMEN VALORES NUMÃ‰RICOS (COUNT, RANGOS, MEDIA, MEDIANA...)
# describe().T muestra estadÃ­sticas bÃ¡sicas y las filas quedan como columnas (mÃ¡s fÃ¡cil de leer)

display(df_flight.describe().T)  

# Anotaciones

# 1) Integridad (count)
# - Todas las columnas tienen 405,624 registros (count).
# - Confirmamos que no hay valores nulos; los datos estÃ¡n completos.

# 2) Rangos y coherencia (min y max)
# - AÃ±os: Solo 2017 y 2018.
# - Meses: Del 1 al 12.

# 3) DispersiÃ³n y outliers (std)
# - La desviaciÃ³n tÃ­pica (std) muestra cuÃ¡nto se dispersan los valores respecto a la media.
# - En Total Flights, la std es alta respecto a la media, lo que refuerza la presencia de outliers.

# 4) Mediana vs media (50%)
# - Total Flights:
#   - Media: 5.1
#   - Mediana: 1.0
# Nos tenemos que guiar por la mediana para entender el comportamiento tÃ­pico.
# El valor tÃ­pico (mediana) es 1 vuelo al mes.
# Pero la media es 5.1, no es igual a la mediana, lo que indica que hay valores atÃ­picos (outliers) que elevan la media.
# Es decir, EL 50% de clientes vuelan 1 vez al mes, pero algunos "viajeros frecuentes" (outliers) vuelan mucho mÃ¡s (32 mÃ¡ximo).

# 5) Percentiles (25%, 50%, 75%)
# Los percentiles sirven para entender cÃ³mo se distribuyen los datos: 
# 25% (Q1): 25% de los datos estÃ¡n por debajo de este valor. 
# 50% (mediana/Q2): 50% de los datos estÃ¡n por debajo. 
# 75% (Q3): 75% de los datos estÃ¡n por debajo. 

# En Total Flights: - Q1 = 0 - (Q2, mediana) = 1 - Q3 = 10 
# El 75% de los clientes tiene 10 vuelos o menos, y solo el 25% supera los 10 vuelos. 
# El 50% de los clientes tiene 1 vuelo (valor tÃ­pico). 
# La gran diferencia entre la mediana (1) y Q3 (10) muestra que la mayorÃ­a vuela muy poco, 
# pero una parte del grupo vuela bastante mÃ¡s (distribuciÃ³n muy asimÃ©trica).

# 6) DesviaciÃ³n estÃ¡ndar
# CV=std/media 
# Si CV>1, la variabilidad es mayor que la media â†’ dispersiÃ³n alta.
# La std es alta respecto a la media, lo cual es coherente con la existencia de outliers que ya hemos detectado.

,count,mean,std,min,25%,50%,75%,max
Loyalty Number,405624.0,550037.873084,258935.286969,100018.0,326961.00,550834.0,772194.00,999986.0
Year,405624.0,2017.500000,0.500001,2017.0,2017.00,2017.5,2018.00,2018.0
Month,405624.0,6.500000,3.452057,1.0,3.75,6.5,9.25,12.0
Flights Booked,405624.0,4.115052,5.225518,0.0,0.00,1.0,8.00,21.0
Flights with Companions,405624.0,1.031805,2.076869,0.0,0.00,0.0,1.00,11.0
Total Flights,405624.0,5.146858,6.521227,0.0,0.00,1.0,10.00,32.0
Distance,405624.0,1208.880059,1433.155320,0.0,0.00,488.0,2336.00,6293.0
Points Accumulated,405624.0,123.692721,146.599831,0.0,0.00,50.0,239.00,676.5
Points Redeemed,405624.0,30.696872,125.486049,0.0,0.00,0.0,0.00,876.0
Dollar Cost Points Redeemed,405624.0,2.484503,10.150038,0.0,0.00,0.0,0.00,71.0

In [74]:
# 5ï¸âƒ£ Â¿Hay errores en los datos?
print("ğŸ”´ NULOS POR COLUMNA:", df_flight.isnull().sum()) 
print("ğŸ”´ FILAS DUPLICADAS:", df_flight.duplicated().sum()) 
print("ğŸ”´ % DUPLICADOS:", df_flight.duplicated().mean() * 100) 
print("ğŸ”´ VALORES ÃšNICOS:\n", df_flight.nunique()) 

# Anotaciones 

# INTEGRIDAD: 
# No hay valores nulos â†’ Dataset completo, listo para anÃ¡lisis

# DUPLICADOS: 
# 1,864 filas repetidas (0.46%) â†’ Riesgo de distorsionar los datos
# AcciÃ³n en fase posterior de limpieza: Eliminar con drop_duplicates()

# nunique() - VALORES ÃšNICOS:
# Revela variedad real por columna
# - Loyalty Number: 16,737 clientes Ãºnicos (lÃ³gico: mÃºltiples meses/cliente)
# - Month: 12 valores (correcto: solo 12 meses posibles)
# - Year: 2 aÃ±os (correcto: 2017-2018)

ğŸ”´ NULOS POR COLUMNA: Loyalty Number                 0
Year                           0
Month                          0
Flights Booked                 0
Flights with Companions        0
Total Flights                  0
Distance                       0
Points Accumulated             0
Points Redeemed                0
Dollar Cost Points Redeemed    0
dtype: int64
ğŸ”´ FILAS DUPLICADAS: 1864
ğŸ”´ % DUPLICADOS: 0.4595388833007909
ğŸ”´ VALORES ÃšNICOS:
 Loyalty Number                 16737
Year                               2
Month                             12
Flights Booked                    22
Flights with Companions           12
Total Flights                     33
Distance                        4746
Points Accumulated              1549
Points Redeemed                  587
Dollar Cost Points Redeemed       49
dtype: int64

In [99]:
# â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
# ğŸ” LIMPIEZA - Customer Flight Activity.csv
# â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•

# 1) Cambiar el tipo de variable
df_flight['loyalty_number'] = df_flight['loyalty_number'].astype('string')
df_flight['year'] = df_flight['year'].astype('category')
df_flight['month'] = df_flight['month'].astype('category')
print("Tipo de variables:")
print(df_flight[['loyalty_number','year','month']].dtypes)

# 2) Limpiar nombres de columnas (snake_case)
df_flight.columns = df_flight.columns.str.lower().str.replace(' ', '_')
print( "Las columnas tienen los nombres correctos", df_flight.columns.tolist())

# 3) Total Flights podrÃ­a ser la suma de Flights Booked + Flights with Companions.
print("Â¿La columna total_flights es total de vuelos del mes reservados (sin acompaÃ±antes + con acompaÃ±antes)?", 
      (df_flight['total_flights'] == df_flight['flights_booked'] + df_flight['flights_with_companions']).all())

# 4) Eliminar duplicados
df_flight = df_flight.drop_duplicates()
# 4) Verificar duplicados 
print("El nÃºmero de duplicados despuÃ©s de la limpieza:", df_flight.duplicated().sum())

Tipo de variables:
loyalty_number    string[python]
year                    category
month                   category
dtype: object
Las columnas tienen los nombres correctos ['loyalty_number', 'year', 'month', 'flights_booked', 'flights_with_companions', 'total_flights', 'distance', 'points_accumulated', 'points_redeemed', 'dollar_cost_points_redeemed']
Â¿La columna total_flights es total de vuelos del mes reservados (sin acompaÃ±antes + con acompaÃ±antes)? True
El nÃºmero de duplicados despuÃ©s de la limpieza: 0

## 1.3 CSV B â€“ â€œCustomer Loyalty History.csvâ€

In [101]:
# Definimos la ruta donde estÃ¡ el archivo (carpeta "data" + nombre correcto del archivo)
ruta = "data/Customer Loyalty History.csv"

# Verificamos si el archivo existe en esa ruta
if os.path.exists(ruta):
    # Si existe, lo leemos y lo convertimos en un DataFrame
    df_loyalty= pd.read_csv(ruta)
    print("âœ… Archivo cargado correctamente")
else:
    # Si no existe, mostramos un mensaje de error
    print("âš ï¸ Archivo no encontrado en la ruta:", ruta)
    df_loyalty = None

âœ… Archivo cargado correctamente

In [104]:
# â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
# ğŸ” EXPLORACIÃ“N INICIAL - Customer Loyalty History.csv
# â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•

# 1ï¸âƒ£ Â¿QUÃ‰ ESTRUCTURA Y TAMAÃ‘O TIENE?
# Cuando usas shape, lo que estÃ¡s obteniendo es una tupla con dos valores (filas, columnas): 
print(f"Filas: {df_loyalty.shape[0]:,} | Columnas: {df_loyalty.shape[1]}")
# df_loyalty.columns ya es suficiente para ver las columnas, pero nos muestra un Index
# si queremos una lista de las columnas, podemos convertirlo a lista con tolist()
print("Columnas:", df_loyalty.columns.tolist())

# Anotaciones: 
# COLUMNAS = "Â¿QUÃ‰ PUEDO MEDIR?"
# 16 columnas = 16 cosas distintas (ubicaciÃ³n, nivel educativo, ingresos, estado civil, etc.).
# FILAS = "Â¿CUÃNTOS CASOS TENGO?" 
# 16,737  filas 

# ComparaciÃ³n Customer Flight Activity.csv vs Customer Loyalty History.csv: 
# 10 columnas vs 16 columnas (â‰  columnas)
# 405,624 filas vs 16,737 filas (â‰  filas)
# Columna comÃºn (clave): Loyalty Number

Filas: 16,737 | Columnas: 16
Columnas: ['Loyalty Number', 'Country', 'Province', 'City', 'Postal Code', 'Gender', 'Education', 'Salary', 'Marital Status', 'Loyalty Card', 'CLV', 'Enrollment Type', 'Enrollment Year', 'Enrollment Month', 'Cancellation Year', 'Cancellation Month']