## Pre-Fase: Comprensi√≥n de los Datos

# M√≥dulo 3: Ejercicio de evaluaci√≥n final - ELISABET AGUIL√ì THI√ì

Los datos proporcionados consisten en dos datasets que, en conjunto, describen el comportamiento de los clientes dentro de un programa de lealtad de una aerol√≠nea.

- Customer Flight Activity.csv muestra informaci√≥n sobre la actividad de vuelo de los clientes (n√∫mero de vuelos reservados, distancia volada, puntos acumulados, acompa√±antes, etc.).

- Customer Loyalty History.csv contiene el perfil detallado de los clientes (ubicaci√≥n, nivel educativo, ingresos, estado civil, etc.).

## 1.1. Librer√≠as

In [129]:
# ------------------------------
# Manipulaci√≥n de datos
# ------------------------------
import pandas as pd        # pandas ‚Üí trabajar con tablas (DataFrames)
import numpy as np         # numpy ‚Üí operaciones num√©ricas y manejo de nulos (np.nan)
import os                  # os ‚Üí interacci√≥n con el sistema operativo (verificar existencia de archivos)

# ------------------------------
# Visualizaci√≥n de datos
# ------------------------------
import matplotlib.pyplot as plt  # matplotlib ‚Üí gr√°ficos b√°sicos
import seaborn as sns            # seaborn ‚Üí gr√°ficos estad√≠sticos avanzados

# ------------------------------
# Configuraci√≥n del entorno
# ------------------------------
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas en la salida
pd.set_option('display.max_rows', 100)      # Limitar filas mostradas a 100 (para evitar salidas excesivas)

# ------------------------------
# Configuraci√≥n de visualizaciones
# ------------------------------
# Define un estilo profesional y limpio para todas las gr√°ficas del notebook.
# "whitegrid" a√±ade una cuadr√≠cula de fondo que facilita la lectura de valores
# sin sobrecargar visualmente el gr√°fico.
sns.set_style("whitegrid")

# Establece el tama√±o est√°ndar para todas las gr√°ficas: 10 pulgadas de ancho √ó 6 de alto.
# Sin esta configuraci√≥n, las gr√°ficas pueden salir muy peque√±as y dif√≠ciles de leer.
# Este tama√±o es √≥ptimo para notebooks y presentaciones.
plt.rcParams['figure.figsize'] = (10, 6)

# Define el tama√±o de fuente por defecto (10 puntos) para t√≠tulos, etiquetas y leyendas.
# Garantiza legibilidad sin necesidad de ajustar manualmente en cada gr√°fico.
plt.rcParams['font.size'] = 10

## Fase 1: Exploraci√≥n y Limpieza

## Metodolog√≠a

- Antes de juntar los datos, revisamos y limpiamos cada CSV por separado.
- Cada archivo puede tener datos incompletos, errores, duplicados, inconsistencias y proceder de distintas fuentes que causen problemas al combinarlos.
- Limpiarlos individualmente garantiza que los datos sean correctos para el an√°lisis.

## CSV A ‚Äì ‚ÄúCustomer Flight Activity.csv‚Äù

### CSV A ‚Äì Fase 1: Exploraci√≥n inicial

In [130]:
# Definimos la ruta donde est√° el archivo (carpeta "data" + nombre del archivo)
ruta = "data/Customer Flight Activity.csv"

# Verificamos si el archivo existe en esa ruta
if os.path.exists(ruta):
    # Si existe, lo leemos y lo convertimos en un DataFrame
    df_flight = pd.read_csv(ruta)
    print("‚úÖ Archivo cargado correctamente")
else:
    # Si no existe, mostramos un mensaje de error
    print("‚ö†Ô∏è Archivo no encontrado")
    df_flight = None

‚úÖ Archivo cargado correctamente

In [131]:
# 1Ô∏è‚É£ DIMENSI√ìN DEL DATASET (N√öMERO DE FILAS Y COLUMNAS)
# Cuando usas shape, lo que est√°s obteniendo es una tupla con dos valores (filas, columnas): 
print(f"Filas: {df_flight.shape[0]:,} | Columnas: {df_flight.shape[1]}")
# df_flight.columns ya es suficiente para ver las columnas, pero nos muestra un Index
# si queremos una lista de las columnas, podemos convertirlo a lista con tolist()
print("Columnas:", df_flight.columns.tolist())

# Anotaciones: 
# COLUMNAS = "¬øQU√â PUEDO MEDIR?"
# 10 columnas = 10 cosas distintas (n√∫mero de vuelos reservados, distancia volada, puntos acumulados, acompa√±antes, etc.)
# FILAS = "¬øCU√ÅNTOS CASOS TENGO?"
# M√°s de 400K filas = grande (por encima de 100K) ‚Üí Esto significa que hay muchos registros (muchos casos), 
# los resultados reflejaran mejor la realidad que teniendo pocos casos.

Filas: 405,624 | Columnas: 10
Columnas: ['Loyalty Number', 'Year', 'Month', 'Flights Booked', 'Flights with Companions', 'Total Flights', 'Distance', 'Points Accumulated', 'Points Redeemed', 'Dollar Cost Points Redeemed']

In [132]:
# 2Ô∏è‚É£ INFORMACI√ìN GENERAL DE LOS DATOS (TIPOLOG√çA DE DATOS Y PRESENCIA DE VALORES NULOS)
df_flight.info()
# podemos profundizar m√°s que con el shape: 
# adem√°s de ver el n√∫mero de filas y columnas,
# podemos ver tipos de datos y cu√°ntos valores nulos tiene cada columna

# Anotaciones:

# Tipolog√≠a de datos:
# - El dataset tiene 405,624 registros y 10 columnas.
# - La mayor√≠a de las columnas son num√©ricas enteras (int64).
# - Solo la columna 'points_accumulated' tiene decimales (float64).
# - No hay columnas categ√≥ricas (tipo object).
df_flight.dtypes.value_counts()

# - En la fase de limpieza se valorar√° convertir:
#   ‚Ä¢ year y month a categ√≥ricas, ya que son etiquetas/identificadores (no se operan matem√°ticamente).
#   ‚Ä¢ loyalty_number a string, porque tiene muchos valores √∫nicos y no conviene tratarlo como categor√≠a.

# Valores nulos:
# - No hay informaci√≥n incompleta (valores faltantes) en ninguna columna (405,624 non-null en todas).

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB

int64      9
float64    1
Name: count, dtype: int64

In [133]:
# 3Ô∏è‚É£ INSPECCI√ìN DE REGISTROS (PRIMERAS, √öLTIMAS Y FILAS ALEATORIAS)
# display() se usa para mostrar tablas de forma clara en un notebook (mejor que print)

display(df_flight.head())      
display(df_flight.tail())      
display(df_flight.sample(5, random_state=42))  # Muestra filas al azar. random_state=42 ‚Üí siempre las mismas

#Anotaciones

# Observaciones generales:
# - No se observan valores negativos en head, tail ni sample.
# - A simple vista, los datos parecen completos y no se detecta informaci√≥n incompleta (no hay presencia de valores NAN),
# lo cual confirma la ausencia de nulos observada en info().

# Primeras filas
# - Verifica: que los datos se cargaron bien y muestra las columnas
# - Cada fila es la actividad mensual de un cliente (Year + Month).
# - Los nombres de las columnas pueden generar errores. En fase de limpieza, eliminar espacios y may√∫sculas para facilitar an√°lisis posteriores. 
# - Total Flights podr√≠a ser la suma de Flights Booked + Flights with Companions. En la fase de limpieza, comprobar:
#   Flights Booked (Vuelos sin acompa√±antes reservados en ese mes) 
#   + Flights with Companions (Vuelos con acompa√±antes reservados en ese mes) 
#   = Total de vuelos del mes reservados (sin acompa√±antes + con acompa√±antes)

# - Los ceros en la columna Points redeemed ( canjeo de puntos) pueden indicar: 
# 1. Vuela ‚Üí Acumula puntos (SIEMPRE, Points accumulated)
# 2. Canjea ‚Üí Gasta puntos (NO SE OBSERVA, el cliente puede no tener suficientes puntos para canjearlos o por desconocimiento).

# √öltimas filas
# - Detecta: filas finales que no son datos reales (suma de totales o notas que no son registros de clientes)
# - En nuestro caso, las √∫ltimas filas muestran solo datos reales de clientes.

# Muestra aleatoria
# - Revisar filas al azar ayuda a detectar errores no visibles al inicio o final.
# - En la muestra no se observan errores evidentes.

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
405619,999902,2018,12,0,0,0,0,0.0,0,0
405620,999911,2018,12,0,0,0,0,0.0,0,0
405621,999940,2018,12,3,0,3,1233,123.0,0,0
405622,999982,2018,12,0,0,0,0,0.0,0,0
405623,999986,2018,12,0,0,0,0,0.0,0,0

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
182259,802535,2017,11,0,0,0,0,0.0,0,0
78391,674643,2017,5,0,0,0,0,0.0,0,0
24345,496371,2017,2,4,4,8,1512,151.0,0,0
297818,659419,2018,6,0,0,0,0,0.0,0,0
203891,158560,2018,1,3,0,3,1911,191.0,0,0

In [ ]:
# 4Ô∏è‚É£ RESUMEN VALORES 

# 1. NUM√âRICOS 
# describe().T muestra estad√≠sticas b√°sicas y las filas quedan como columnas (m√°s f√°cil de leer)

display(df_flight.describe().T)  

# Anotaciones

# Se determina la columna m√°s relevante para el an√°lisis estad√≠stico: total flights

# 1) Integridad (count)
# - Todas las columnas tienen 405,624 registros.
# - Confirmamos que no hay valores nulos; los datos est√°n completos.

# 2) Rangos y coherencia (min y max)
# - A√±os: Solo 2017 y 2018.
# - Meses: Del 1 al 12.

# 2. CATEG√ìRICOS

# En la fase de exploraci√≥n, se analiza lo que existe en los datos.
# info() ya me dio la informaci√≥n: No hay variables tipo object en este momento.
# Por tanto, NO tiene sentido hacer describe(include='object')

,count,mean,std,min,25%,50%,75%,max
Loyalty Number,405624.0,550037.873084,258935.286969,100018.0,326961.00,550834.0,772194.00,999986.0
Year,405624.0,2017.500000,0.500001,2017.0,2017.00,2017.5,2018.00,2018.0
Month,405624.0,6.500000,3.452057,1.0,3.75,6.5,9.25,12.0
Flights Booked,405624.0,4.115052,5.225518,0.0,0.00,1.0,8.00,21.0
Flights with Companions,405624.0,1.031805,2.076869,0.0,0.00,0.0,1.00,11.0
Total Flights,405624.0,5.146858,6.521227,0.0,0.00,1.0,10.00,32.0
Distance,405624.0,1208.880059,1433.155320,0.0,0.00,488.0,2336.00,6293.0
Points Accumulated,405624.0,123.692721,146.599831,0.0,0.00,50.0,239.00,676.5
Points Redeemed,405624.0,30.696872,125.486049,0.0,0.00,0.0,0.00,876.0
Dollar Cost Points Redeemed,405624.0,2.484503,10.150038,0.0,0.00,0.0,0.00,71.0

In [135]:
# 5Ô∏è‚É£ CALIDAD DE LOS DATOS (NULOS, DUPLICADOS Y VALORES √öNICOS)
print("üî¥ NULOS POR COLUMNA:", df_flight.isnull().sum()) 
print("üî¥ FILAS DUPLICADAS:", df_flight.duplicated().sum()) 
print("üî¥ % DUPLICADOS:", df_flight.duplicated().mean() * 100) 
print("üî¥ VALORES √öNICOS:\n", df_flight.nunique()) 

# Anotaciones 

# NULOS: 
# No hay valores nulos ‚Üí Dataset completo, listo para an√°lisis

# DUPLICADOS: 
# 1,864 filas repetidas (0.46%) ‚Üí Riesgo de distorsionar los datos
# Acci√≥n en fase posterior de limpieza: Eliminar con drop_duplicates()

# VALORES √öNICOS:
# Revela variedad real por columna
# - Loyalty Number: 16,737 clientes √∫nicos (l√≥gico: m√∫ltiples meses/cliente)
# - Month: 12 valores (correcto: solo 12 meses posibles)
# - Year: 2 a√±os (correcto: 2017-2018)

üî¥ NULOS POR COLUMNA: Loyalty Number                 0
Year                           0
Month                          0
Flights Booked                 0
Flights with Companions        0
Total Flights                  0
Distance                       0
Points Accumulated             0
Points Redeemed                0
Dollar Cost Points Redeemed    0
dtype: int64
üî¥ FILAS DUPLICADAS: 1864
üî¥ % DUPLICADOS: 0.4595388833007909
üî¥ VALORES √öNICOS:
 Loyalty Number                 16737
Year                               2
Month                             12
Flights Booked                    22
Flights with Companions           12
Total Flights                     33
Distance                        4746
Points Accumulated              1549
Points Redeemed                  587
Dollar Cost Points Redeemed       49
dtype: int64

### CSV A ‚Äì Fase 1: Limpieza

In [136]:
# 1) Renombrar columnas
df_flight.columns = df_flight.columns.str.lower().str.replace(' ', '_')
print("Columnas en snake_case (min√∫sculas y separadas por _):", df_flight.columns.tolist())

# 2) Cambio de tipos ( columnas: loyalty_number, year y month)
df_flight['loyalty_number'] = df_flight['loyalty_number'].astype('string')
df_flight['year'] = df_flight['year'].astype('category')
df_flight['month'] = df_flight['month'].astype('category')
print("Tipo de variables:")
print(df_flight[['loyalty_number', 'year', 'month']].dtypes)

# 3) Validar columnas sumatorias (total_flights)
print("¬øLa columna total_flights es el total de vuelos del mes reservados (reservados sin acompa√±antes + reservados con acompa√±antes)?", 
      (df_flight['total_flights'] == df_flight['flights_booked'] + df_flight['flights_with_companions']).all())

# 4) Eliminar duplicados
df_flight = df_flight.drop_duplicates()
print("El n√∫mero de duplicados despu√©s de la limpieza:", df_flight.duplicated().sum())

print("\n‚úÖ Limpieza de Customer Flight Activity completada")

Columnas en snake_case (min√∫sculas y separadas por _): ['loyalty_number', 'year', 'month', 'flights_booked', 'flights_with_companions', 'total_flights', 'distance', 'points_accumulated', 'points_redeemed', 'dollar_cost_points_redeemed']
Tipo de variables:
loyalty_number    string[python]
year                    category
month                   category
dtype: object
¬øLa columna total_flights es el total de vuelos del mes reservados (reservados sin acompa√±antes + reservados con acompa√±antes)? True
El n√∫mero de duplicados despu√©s de la limpieza: 0

‚úÖ Limpieza de Customer Flight Activity completada

## CSV B‚Äì ‚ÄúCustomer Loyalty History‚Äù

### CSV B ‚Äì Fase 1: Exploraci√≥n inicial

In [137]:
# Definimos la ruta donde est√° el archivo (carpeta "data" + nombre correcto del archivo)
ruta = "data/Customer Loyalty History.csv"

# Verificamos si el archivo existe en esa ruta
if os.path.exists(ruta):
    # Si existe, lo leemos y lo convertimos en un DataFrame
    df_loyalty= pd.read_csv(ruta)
    print("‚úÖ Archivo cargado correctamente")
else:
    # Si no existe, mostramos un mensaje de error
    print("‚ö†Ô∏è Archivo no encontrado en la ruta:", ruta)
    df_loyalty = None

‚úÖ Archivo cargado correctamente

In [138]:
# 1Ô∏è‚É£ DIMENSI√ìN DEL DATASET (N√öMERO DE FILAS Y COLUMNAS)
# Cuando usas shape, lo que est√°s obteniendo es una tupla con dos valores (filas, columnas): 
print(f"Filas: {df_loyalty.shape[0]:,} | Columnas: {df_loyalty.shape[1]}")
# df_loyalty.columns ya es suficiente para ver las columnas, pero nos muestra un Index
# si queremos una lista de las columnas, podemos convertirlo a lista con tolist()
print("Columnas:", df_loyalty.columns.tolist())

# Anotaciones: 
# COLUMNAS = "¬øQU√â PUEDO MEDIR?"
# 16 columnas = 16 cosas distintas (ubicaci√≥n, nivel educativo, ingresos, estado civil, etc.).
# Columna com√∫n con Flight Activity.csv (clave): Loyalty Number
# FILAS = "¬øCU√ÅNTOS CASOS TENGO?" 
# 16,737 filas

Filas: 16,737 | Columnas: 16
Columnas: ['Loyalty Number', 'Country', 'Province', 'City', 'Postal Code', 'Gender', 'Education', 'Salary', 'Marital Status', 'Loyalty Card', 'CLV', 'Enrollment Type', 'Enrollment Year', 'Enrollment Month', 'Cancellation Year', 'Cancellation Month']

In [139]:
# 2Ô∏è‚É£ INFORMACI√ìN GENERAL DE LOS DATOS (TIPOLOG√çA DE DATOS Y PRESENCIA DE VALORES NULOS)
df_loyalty.info()
# podemos profundizar m√°s que con el shape: 
# adem√°s de ver el n√∫mero de filas y columnas,
# podemos ver tipos de datos y cu√°ntos valores nulos tiene cada columna

# Anotaciones:

# Tipolog√≠a de datos: 
# El dataset contiene 16.737 registros (filas) y 16 variables (columnas).
#  Se identifican tres tipos de datos:
#   ‚Ä¢ Variables categ√≥ricas: 9 columnas (Country, Province, City, Gender, Education, etc.).
#   ‚Ä¢ Variables num√©ricas enteras: 3 columnas (Loyalty Number, Enrollment Year, Enrollment Month).
#   ‚Ä¢ Variables num√©ricas con decimales: 4 columnas (Salary, CLV, Cancellation Year, Cancellation Month).
df_loyalty.dtypes.value_counts()

# - En la fase de limpieza se evaluar√° convertir:
#   ‚Ä¢ loyalty_number a string, ya que es un identificador √∫nico de cliente
#     (no tiene sentido tratarlo como variable num√©rica ni como categor√≠a).
#     Adem√°s, esto facilita la uni√≥n (merge) con otros dataframes.
#
#   ‚Ä¢ Enrollment Year, Enrollment Month, Cancellation Year y Cancellation Month a variables categ√≥ricas,
#     porque representan etiquetas temporales (a√±os/meses) y se utilizan √∫nicamente para agrupar o segmentar,
#     no para realizar operaciones matem√°ticas.

# - Valores nulos detectados:
#   ‚Ä¢ Salary: 4.238 valores nulos, indicando informaci√≥n salarial incompleta,
#      lo cual puede ser coherente si el cliente no quiere dar este tipo de informaci√≥n.
#   ‚Ä¢ Cancellation Year y Cancellation Month: solo 2.067 valores no nulos,
#     solo una parte de clientes ha cancelado la membres√≠a.
#   ‚Ä¢ El resto de las columnas no presenta valores faltantes.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16737 entries, 0 to 16736
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Loyalty Number      16737 non-null  int64
 1   Country             16737 non-null  object
 2   Province            16737 non-null  object
 3   City                16737 non-null  object
 4   Postal Code         16737 non-null  object
 5   Gender              16737 non-null  object
 6   Education           16737 non-null  object
 7   Salary              12499 non-null  float64
 8   Marital Status      16737 non-null  object
 9   Loyalty Card        16737 non-null  object
 10  CLV                 16737 non-null  float64
 11  Enrollment Type     16737 non-null  object
 12  Enrollment Year     16737 non-null  int64
 13  Enrollment Month    16737 non-null  int64
 14  Cancellation Year   2067 non-null   float64
 15  Cancellation Month  2067 non-null   float64
dtypes: float64(4), int64(3), object(9)
memory usage: 2.0+ MB

object     9
float64    4
int64      3
Name: count, dtype: int64

In [140]:
# 3Ô∏è‚É£ INSPECCI√ìN DE REGISTROS (PRIMERAS, √öLTIMAS Y FILAS ALEATORIAS)
# display() se usa para mostrar tablas de forma clara en un notebook (mejor que print)

display(df_loyalty.head())      
display(df_loyalty.tail())      
display(df_loyalty.sample(5, random_state=42))  # Muestra filas al azar. random_state=42 ‚Üí siempre las mismas

# Anotaciones

# Observaciones generales:
# - Se observan valores negativos en Salary en tail.
# - A simple vista aparecen valores faltantes (NaN) en diferentes filas (primeras filas, √∫ltimas filas y en muestra aleatoria del medio).

# Primeras filas:
# - Verifica que los datos se cargaron correctamente y muestra las columnas.
# - Cada fila representa el perfil de un cliente (ubicaci√≥n, nivel educativo, ingresos, estado civil, etc.).
# - Los nombres de las columnas contienen espacios y may√∫sculas; en limpieza se deben normalizar a snake_case.

# √öltimas filas:
# - Se revisa si existen filas que no correspondan a registros reales (por ejemplo, totales o notas).
# - En este caso, las √∫ltimas filas corresponden a datos de clientes.
# - Se detecta un salario negativo (-57297.0), lo cual requiere revisi√≥n.

# Muestra aleatoria:
# - Permite detectar errores que no aparecen al inicio o al final.
# - En la muestra seleccionada no se observan errores evidentes.

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN
1,549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,NaN,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN
2,429460,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,NaN,Single,Star,3839.75,Standard,2014,7,2018.0,1.0
3,608370,Canada,Ontario,Toronto,P1W 1K4,Male,College,NaN,Single,Star,3839.75,Standard,2013,2,NaN,NaN
4,530508,Canada,Quebec,Hull,J8Y 3Z5,Male,Bachelor,103495.0,Married,Star,3842.79,Standard,2014,10,NaN,NaN

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
16732,823768,Canada,British Columbia,Vancouver,V6E 3Z3,Female,College,NaN,Married,Star,61850.19,Standard,2012,12,NaN,NaN
16733,680886,Canada,Saskatchewan,Regina,S1J 3C5,Female,Bachelor,89210.0,Married,Star,67907.27,Standard,2014,9,NaN,NaN
16734,776187,Canada,British Columbia,Vancouver,V5R 1W3,Male,College,NaN,Single,Star,74228.52,Standard,2014,3,NaN,NaN
16735,906428,Canada,Yukon,Whitehorse,Y2K 6R0,Male,Bachelor,-57297.0,Married,Star,10018.66,2018 Promotion,2018,4,NaN,NaN
16736,652627,Canada,Manitoba,Winnipeg,R2C 0M5,Female,Bachelor,75049.0,Married,Star,83325.38,Standard,2015,12,2016.0,8.0

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
9770,232533,Canada,British Columbia,Whistler,V6T 1Y8,Female,College,NaN,Married,Nova,36695.91,Standard,2018,8,NaN,NaN
6002,381065,Canada,Manitoba,Winnipeg,R2C 0M5,Male,Bachelor,87635.0,Married,Nova,4669.23,Standard,2015,8,2017.0,3.0
12985,974500,Canada,Nova Scotia,Halifax,B3J 9S2,Male,College,NaN,Married,Star,4715.47,Standard,2016,4,NaN,NaN
99,695855,Canada,Quebec,Montreal,H2T 2J6,Female,College,NaN,Divorced,Star,4019.38,Standard,2013,4,NaN,NaN
8641,934604,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,59169.0,Married,Nova,9816.53,Standard,2014,3,NaN,NaN

In [ ]:
# 4Ô∏è‚É£ RESUMEN VALORES:

# 1. NUM√âRICOS 

# describe().T muestra estad√≠sticas b√°sicas y las filas quedan como columnas (m√°s f√°cil de leer)

display(df_loyalty.describe().T)  

# Anotaciones:

# Se determinan las columnas m√°s relevantes para el an√°lisis estad√≠stico:
# - CLV: Valor total que aporta un cliente ‚Üí nos interesa saber qui√©n invierte m√°s en el negocio.
# - Salary: Poder adquisitivo ‚Üí capacidad de gasto.

# 1) Integridad (count)
# - CLV: el count representa el n√∫mero total de filas y que est√° completa la informaci√≥n de esta columna.
# - Salary: que el count sea menor que el n√∫mero total de filas confirma que hay valores nulos y que no est√° completa la informaci√≥n de esta columna.

# 2) Rangos y coherencia (min y max)

# - CLV:
#   - min = 1898.01
#   - max = 83325.38
# Ambos valores son coherentes y positivos. No hay errores evidentes.
# El m√≠nimo (1898.01) representa clientes de bajo valor, mientras que el m√°ximo (83325.38) 
# indica la existencia de clientes VIP o de muy alto valor.
# Rango muy amplio (81427.37 puntos de diferencia) sugiere alta heterogeneidad en el valor de los clientes.


# - Salary:
# - No hay coherencia en el m√≠nimo en salario: -58486.00. 	
# - Puede ser un error de signo (¬ødeber√≠a ser positivo?)
# - Si los percentiles (Q1, Q2, Q3) son todos positivos y razonables, es asumible pensar que el valor negativo es un error y debe corregirse (cambiando signo)
#   Es coherente: min 58486.00, Q1 59246.50, Q2 73455.00, Q3 88517.50 
# Una vez cambiado el signo, min=58.486,00 ‚Ç¨ y max=407.228,00 ‚Ç¨ representan los extremos realistas (clientes de ingresos bajos y altos).

,count,mean,std,min,25%,50%,75%,max
Loyalty Number,16737.0,549735.880445,258912.132453,100018.00,326603.00,550434.00,772019.00,999986.00
Salary,12499.0,79245.609409,35008.297285,-58486.00,59246.50,73455.00,88517.50,407228.00
CLV,16737.0,7988.896536,6860.982280,1898.01,3980.84,5780.18,8940.58,83325.38
Enrollment Year,16737.0,2015.253211,1.979111,2012.00,2014.00,2015.00,2017.00,2018.00
Enrollment Month,16737.0,6.669116,3.398958,1.00,4.00,7.00,10.00,12.00
Cancellation Year,2067.0,2016.503145,1.380743,2013.00,2016.00,2017.00,2018.00,2018.00
Cancellation Month,2067.0,6.962748,3.455297,1.00,4.00,7.00,10.00,12.00

In [ ]:
# 2. CATEG√ìRICOS

# Para variables categ√≥ricas usamos include='object' o include='category'
display(df_loyalty.describe(include='object').T)

# Anotaciones:

# El m√©todo describe() con include='object' muestra estad√≠sticas espec√≠ficas para variables categ√≥ricas:
# - count: N√∫mero total de valores no nulos
# - unique: N√∫mero de categor√≠as diferentes
# - top: La categor√≠a m√°s frecuente (moda)
# - freq: Frecuencia de la categor√≠a m√°s com√∫n

# INTERPRETACI√ìN GENERAL:

# - count: coincide con el total de observaciones, por lo que no se detectan valores nulos.

# INTERPRETACI√ìN POR VARIABLE:

# 1) COUNTRY (Pa√≠s):
# - unique = 1 ‚Üí Solo hay un pa√≠s (Canada)
# - top = Canada ‚Üí Todos los clientes son de Canad√°
# - freq = 16,737 ‚Üí Confirma que el 100% son de Canada
print(df_loyalty['Country'].unique())

# 2) PROVINCE (Provincia):
# - unique = 11 ‚Üí Hay 11 provincias diferentes
# - top = Ontario ‚Üí La provincia m√°s com√∫n
# - freq = 5404 ‚Üí N√∫mero de clientes en Ontario
print(df_loyalty['Province'].unique())

# 3) CITY (Ciudad):
# - unique = 29 ‚Üí 29 ciudades diferentes
# - top = Toronto ‚Üí La ciudad con m√°s clientes
# - freq = 3351 ‚Üí N√∫mero de clientes en Toronto
print(df_loyalty['City'].unique())

# 4) GENDER (G√©nero):
# - unique = 2 ‚Üí Male y Female
# - top = Female ‚Üí El g√©nero m√°s frecuente
# - freq = 8410 ‚Üí N√∫mero de clientas
print(df_loyalty['Gender'].unique())

# 5) EDUCATION (Nivel educativo):
# - unique = 5 ‚Üí 5 niveles educativos diferentes
# - top = Bachelor ‚Üí El nivel m√°s com√∫n
# - freq = 10475 ‚Üí N√∫mero de clientes Bachelor
print(df_loyalty['Education'].unique())

# 6) MARITAL STATUS (Estado civil):
# - unique = 3 ‚Üí Single, Married, Divorced
# - top = Married ‚Üí El estado civil m√°s frecuente
# - freq = ‚Üí 9735 ‚Üí  N√∫mero de clientes casados
print(df_loyalty['Marital Status'].unique())

# 7) LOYALTY CARD (Tipo de tarjeta):
# - unique = 3 ‚Üí 3 tipos de tarjeta
# - top = Star ‚Üí La tarjeta m√°s com√∫n
# - freq = 7637 ‚Üí Clientes con tarjeta Star
print(df_loyalty['Loyalty Card'].unique())

# 8) ENROLLMENT TYPE (Tipo de inscripci√≥n):
# - unique = 2 ‚Üí Standard y 2018 Promotion
# - top = Standard ‚Üí La mayor√≠a usa inscripci√≥n est√°ndar
# - freq = 15766 ‚Üí clientes con Standard
print(df_loyalty['Enrollment Type'].unique())

                 count unique       top   freq
Country          16737      1    Canada  16737
Province         16737     11   Ontario   5404
City             16737     29   Toronto   3351
Postal Code      16737     55   V6E 3D9    911
Gender           16737      2    Female   8410
Education        16737      5  Bachelor  10475
Marital Status   16737      3   Married   9735
Loyalty Card     16737      3      Star   7637
Enrollment Type  16737      2  Standard  15766

['Canada']
['Ontario' 'Alberta' 'British Columbia' 'Quebec' 'Yukon' 'New Brunswick'
 'Manitoba' 'Nova Scotia' 'Saskatchewan' 'Newfoundland'
 'Prince Edward Island']
['Toronto' 'Edmonton' 'Vancouver' 'Hull' 'Whitehorse' 'Trenton' 'Montreal'
 'Dawson Creek' 'Quebec City' 'Fredericton' 'Ottawa' 'Tremblant' 'Calgary'
 'Thunder Bay' 'Whistler' 'Peace River' 'Winnipeg' 'Sudbury'
 'West Vancouver' 'Halifax' 'London' 'Regina' 'Kelowna' "St. John's"
 'Victoria' 'Kingston' 'Banff' 'Moncton' 'Charlottetown']
['Female' 'Male']
['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
['Married' 'Divorced' 'Single']
['Star' 'Aurora' 'Nova']
['Standard' '2018 Promotion']

In [143]:
# 5Ô∏è‚É£ CALIDAD DE LOS DATOS (NULOS, DUPLICADOS Y VALORES √öNICOS)
print("üî¥ NULOS POR COLUMNA:", df_loyalty.isnull().sum()) 
print("üî¥ FILAS DUPLICADAS:", df_loyalty.duplicated().sum()) 
print("üî¥ % DUPLICADOS:", df_loyalty.duplicated().mean() * 100) 
print("üî¥ VALORES √öNICOS:\n", df_loyalty.nunique()) 

# Anotaciones 

# NULOS: 
# Hay valores nulos en Salary, Cancellation Year y Cancellation Month.

# DUPLICADOS: 
# No hay filas duplicadas. El dataset est√° limpio en este aspecto.

# VALORES √öNICOS:
# Revela variedad real por columna
# - Loyalty Number: 16,737 clientes √∫nicos (l√≥gico: coherente con las entradas)
# - Month: 12 valores (correcto: solo 12 meses posibles)
# - Cancellation Year (6, puede ser que existan registros de cancelaci√≥n en varios a√±os).

üî¥ NULOS POR COLUMNA: Loyalty Number            0
Country                   0
Province                  0
City                      0
Postal Code               0
Gender                    0
Education                 0
Salary                 4238
Marital Status            0
Loyalty Card              0
CLV                       0
Enrollment Type           0
Enrollment Year           0
Enrollment Month          0
Cancellation Year     14670
Cancellation Month    14670
dtype: int64
üî¥ FILAS DUPLICADAS: 0
üî¥ % DUPLICADOS: 0.0
üî¥ VALORES √öNICOS:
 Loyalty Number        16737
Country                   1
Province                 11
City                     29
Postal Code              55
Gender                    2
Education                 5
Salary                 5890
Marital Status            3
Loyalty Card              3
CLV                    7984
Enrollment Type           2
Enrollment Year           7
Enrollment Month         12
Cancellation Year         6
Cancellation Month       12
dtype: int64

### CSV B ‚Äì Fase 1: Limpieza

In [144]:
# 1) Renombrar columnas
df_loyalty.columns = df_loyalty.columns.str.lower().str.replace(' ', '_')
print("Columnas en snake_case (min√∫sculas y separadas por _):", df_loyalty.columns.tolist())

# 2) Cambio de tipos (columnas: loyalty_number, enrollment_year, enrollment_month, cancellation_year, cancellation_month)
df_loyalty['loyalty_number'] = df_loyalty['loyalty_number'].astype('string')
df_loyalty['enrollment_year'] = df_loyalty['enrollment_year'].astype('category')
df_loyalty['enrollment_month'] = df_loyalty['enrollment_month'].astype('category')
df_loyalty['cancellation_year'] = df_loyalty['cancellation_year'].astype('category')
df_loyalty['cancellation_month'] = df_loyalty['cancellation_month'].astype('category')
print("Tipo de variables:")
print(df_loyalty[['loyalty_number', 'enrollment_year', 'enrollment_month', 'cancellation_year', 'cancellation_month']].dtypes)

# 3) Correcci√≥n de salarios negativos
# Durante la exploraci√≥n detectamos un salario negativo ‚Üí se corrige cambiando el signo.

# Contamos cu√°ntos salarios negativos hay
salarios_negativos = (df_loyalty['salary'] < 0).sum()
print(f"\nüîç Salarios negativos detectados: {salarios_negativos}")

# Mostramos los registros con salarios negativos (para verificar antes de corregir)
if salarios_negativos > 0:
    print("\nüìã Registros con salarios negativos:")
    print(df_loyalty[df_loyalty['salary'] < 0])
    
    # Corregimos convirtiendo los valores negativos en positivos (cambiamos el signo)
    df_loyalty['salary'] = df_loyalty['salary'].abs()
    
    print("\n‚úÖ Salarios negativos corregidos (convertidos a valores absolutos)")
    
    # Verificamos que ya no hay salarios negativos
    print(f"üîç Salarios negativos tras correcci√≥n: {(df_loyalty['salary'] < 0).sum()}")

# 4) Gesti√≥n de valores nulos
# Se decide mantener los valores nulos sin imputaci√≥n porque son informativos:
# - Salary: los nulos representan clientes que no quisieron declarar su salario.
#   Imputar con media/mediana introducir√≠a informaci√≥n falsa y sesgar√≠a el an√°lisis.
# - Cancellation Year / Cancellation Month: los nulos indican clientes que NO cancelaron su membres√≠a.
#   Son clientes ACTIVOS, por lo que el nulo tiene significado y NO debe rellenarse.
# 
# ‚ö†Ô∏è IMPORTANTE: Mantener estos nulos.

print("\nüìä Resumen final de valores nulos:")
print(df_loyalty.isnull().sum())

print("\n‚úÖ Limpieza de Customer Loyalty History completada")

Columnas en snake_case (min√∫sculas y separadas por _): ['loyalty_number', 'country', 'province', 'city', 'postal_code', 'gender', 'education', 'salary', 'marital_status', 'loyalty_card', 'clv', 'enrollment_type', 'enrollment_year', 'enrollment_month', 'cancellation_year', 'cancellation_month']
Tipo de variables:
loyalty_number        string[python]
enrollment_year             category
enrollment_month            category
cancellation_year           category
cancellation_month          category
dtype: object

üîç Salarios negativos detectados: 20

üìã Registros con salarios negativos:
      loyalty_number country          province            city postal_code  \
1082          542976  Canada            Quebec        Montreal     H2Y 4R4
1894          959977  Canada  British Columbia       Vancouver     V5R 1W3
2471          232755  Canada  British Columbia       Vancouver     V1E 4R6
3575          525245  Canada  British Columbia        Victoria     V10 6T5
3932          603070  Canada  British Columbia  West Vancouver     V6V 8Z3
4712          491242  Canada  British Columbia    Dawson Creek     U5I 4F1
6560          115505  Canada      Newfoundland      St. John's     A1C 6H9
6570          430398  Canada      Newfoundland      St. John's     A1C 6H9
7373          152016  Canada           Ontario         Toronto     P1J 8T7
8576          194065  Canada           Ontario         Sudbury     M5V 1G5
8767          212128  Canada           Ontario         Toronto     P2T 6G3
10232         790475  Canada           Ontario         Trenton     K8V 4B2
11635         366599  Canada           Ontario         Toronto     M1R 4K3
12596         436087  Canada            Quebec        Montreal     H2T 9K8
13564         364596  Canada            Quebec       Tremblant     H5Y 2S9
14327         239955  Canada            Quebec            Hull     J8Y 3Z5
14355         347013  Canada            Quebec     Quebec City     G1B 3L5
15416         729561  Canada            Quebec     Quebec City     G1B 3L5
16431         734647  Canada      Saskatchewan          Regina     S1J 3C5
16735         906428  Canada             Yukon      Whitehorse     Y2K 6R0

       gender             education   salary marital_status loyalty_card  \
1082     Male  High School or Below -49830.0       Divorced         Star
1894   Female              Bachelor -12497.0        Married       Aurora
2471   Female              Bachelor -46683.0         Single         Nova
3575     Male              Bachelor -45962.0        Married         Star
3932   Female              Bachelor -19325.0         Single         Star
4712     Male              Bachelor -43234.0        Married         Star
6560     Male              Bachelor -10605.0        Married         Nova
6570     Male              Bachelor -17534.0        Married         Nova
7373   Female              Bachelor -58486.0        Married       Aurora
8576   Female              Bachelor -31911.0        Married         Nova
8767     Male              Bachelor -49001.0        Married         Nova
10232  Female              Bachelor -34079.0        Married         Nova
11635  Female              Bachelor  -9081.0        Married         Star
12596    Male              Bachelor -46470.0        Married         Star
13564  Female              Bachelor -26322.0         Single       Aurora
14327  Female              Bachelor -47310.0        Married         Nova
14355    Male              Bachelor -39503.0        Married         Nova
15416  Female              Bachelor -19332.0       Divorced         Star
16431    Male              Bachelor -46303.0        Married         Nova
16735    Male              Bachelor -57297.0        Married         Star

            clv enrollment_type enrollment_year enrollment_month  \
1082   24127.50  2018 Promotion            2018                3
1894    9453.00  2018 Promotion            2018                3
2471    4787.81  2018 Promotion            2018                3
3575    2402.33  2018 Promotion            2018                3
3932    2893.74  2018 Promotion            2018                3
4712    7597.91  2018 Promotion            2018                3
6560    5860.17  2018 Promotion            2018                4
6570   49423.80  2018 Promotion            2018                3
7373    5067.21  2018 Promotion            2018                2
8576    2888.85  2018 Promotion            2018                2
8767    3130.68  2018 Promotion            2018                2
10232  12913.50  2018 Promotion            2018                2
11635   6915.73  2018 Promotion            2018                4
12596   4786.89  2018 Promotion            2018                4
13564  16710.84  2018 Promotion            2018                4
14327   6366.23  2018 Promotion            2018                3
14355   6446.71  2018 Promotion            2018                3
15416   5308.29  2018 Promotion            2018                2
16431  11280.73  2018 Promotion            2018                4
16735  10018.66  2018 Promotion            2018                4

      cancellation_year cancellation_month
1082                NaN                NaN
1894                NaN                NaN
2471                NaN                NaN
3575                NaN                NaN
3932                NaN                NaN
4712                NaN                NaN
6560                NaN                NaN
6570                NaN                NaN
7373                NaN                NaN
8576                NaN                NaN
8767                NaN                NaN
10232               NaN                NaN
11635               NaN                NaN
12596            2018.0                8.0
13564            2018.0               12.0
14327               NaN                NaN
14355               NaN                NaN
15416               NaN                NaN
16431               NaN                NaN
16735               NaN                NaN

‚úÖ Salarios negativos corregidos (convertidos a valores absolutos)
üîç Salarios negativos tras correcci√≥n: 0

üìä Resumen final de valores nulos:
loyalty_number            0
country                   0
province                  0
city                      0
postal_code               0
gender                    0
education                 0
salary                 4238
marital_status            0
loyalty_card              0
clv                       0
enrollment_type           0
enrollment_year           0
enrollment_month          0
cancellation_year     14670
cancellation_month    14670
dtype: int64

‚úÖ Limpieza de Customer Loyalty History completada

### üîó MERGE (UNI√ìN) DE LOS CSV

In [145]:
# 1Ô∏è‚É£ INFORMACI√ìN ANTES DEL MERGE

print(f"\nüîπ Customer Flight Activity:")
print(f"   - Filas: {df_flight.shape[0]:,}")
print(f"   - Columnas: {df_flight.shape[1]}")
print(f"   - Clientes √∫nicos: {df_flight['loyalty_number'].nunique():,}")

print(f"\nüîπ Customer Loyalty History:")
print(f"   - Filas: {df_loyalty.shape[0]:,}")
print(f"   - Columnas: {df_loyalty.shape[1]}")
print(f"   - Clientes √∫nicos: {df_loyalty['loyalty_number'].nunique():,}")

# Anotaciones:
# Comparaci√≥n de datasets:
# - Customer Flight Activity: 403,760 filas ‚Üí actividad mensual de cada cliente (varios meses por cliente)
# - Customer Loyalty History: 16,737 filas ‚Üí perfil √∫nico por cliente (una fila por cliente)
# - Columnas: 10 (flight) vs 16 (loyalty) ‚Üí datasets complementarios
# - Columna com√∫n (clave): loyalty_number ‚Üí permite unir ambos datasets
# 
# ¬øPor qu√© la diferencia en filas?
# - Cada cliente en df_loyalty (16,737) puede tener M√öLTIPLES registros en df_flight
# - Ejemplo: Cliente 100018 puede tener 24 filas en df_flight (12 meses √ó 2 a√±os)
#            pero solo 1 fila en df_loyalty (su perfil √∫nico)

üîπ Customer Flight Activity:
   - Filas: 403,760
   - Columnas: 10
   - Clientes √∫nicos: 16,737

üîπ Customer Loyalty History:
   - Filas: 16,737
   - Columnas: 16
   - Clientes √∫nicos: 16,737

In [146]:
# 2Ô∏è‚É£ VERIFICACI√ìN DE LA COLUMNA CLAVE (loyalty_number)

print("\nüîç VERIFICACI√ìN DE TIPOS DE DATOS EN LA COLUMNA CLAVE:")
print(f"   - df_flight['loyalty_number']: {df_flight['loyalty_number'].dtype}")
print(f"   - df_loyalty['loyalty_number']: {df_loyalty['loyalty_number'].dtype}")

# Anotaciones:
# Ambas columnas deben ser del mismo tipo (string) para evitar problemas en el merge.
# Ya las convertimos a 'string' en la fase de limpieza, por lo que el merge funcionar√° correctamente.
# Si fueran de tipos diferentes (ej: int64 vs string), pandas podr√≠a no encontrar coincidencias.

üîç VERIFICACI√ìN DE TIPOS DE DATOS EN LA COLUMNA CLAVE:
   - df_flight['loyalty_number']: string
   - df_loyalty['loyalty_number']: string

In [147]:
# 3Ô∏è‚É£ DECISI√ìN DEL TIPO DE MERGE

# Tipos de merge:
# 
# INNER:
#   ‚Üí Solo clientes presentes en ambos datasets:
#     se pierden clientes con vuelos que a√∫n no tienen perfil.
# 
# LEFT (mantener izquierda):
#   ‚Üí Mantiene todos los vuelos y a√±ade perfil cuando existe:
#     mejor opci√≥n para nuestro objetivo.
# 
# RIGHT (mantener derecha):
#   ‚Üí Mantiene todos los perfiles de los clientes, 
#     pero puede perder actividad de vuelos.
# 
# OUTER (uni√≥n completa):
#   ‚Üí Incluye toda la informaci√≥n, pero no toda es relevante para el an√°lisis y puede generar ruido.

# ¬øCu√°l elegir para el an√°lisis?
# - OBJETIVO: Analizar la ACTIVIDAD DE VUELO enriquecida con el PERFIL del cliente
# - DECISI√ìN: LEFT JOIN usando df_flight como base
#   ‚úì Mantenemos TODOS los registros de actividad de vuelo
#   ‚úì A√±adimos perfil del cliente cuando existe en df_loyalty
#   ‚úì No perdemos informaci√≥n de vuelos
#   ‚úì No nos interesa el perfil del cliente si no tiene actividad de vuelo.

print("\nüéØ TIPO DE MERGE SELECCIONADO: LEFT JOIN")
print("   - Base: df_flight (actividad de vuelos)")
print("   - Se a√±ade: df_loyalty (perfil del cliente)")
print("   - Columna clave: 'loyalty_number'")

üéØ TIPO DE MERGE SELECCIONADO: LEFT JOIN
   - Base: df_flight (actividad de vuelos)
   - Se a√±ade: df_loyalty (perfil del cliente)
   - Columna clave: 'loyalty_number'

In [148]:
# 4Ô∏è‚É£ EJECUCI√ìN DEL MERGE

df_merged = df_flight.merge(
    df_loyalty,              # Dataset a fusionar (derecha)
    on='loyalty_number',     # Columna com√∫n para unir
    how='left',              # Tipo de merge: mantener todas las filas de df_flight
    validate='m:1'           # Validaci√≥n: muchos registros de flight ‚Üí 1 registro de loyalty
)

# Anotaciones relaci√≥n ='m:1':
# - 'm:1' = many-to-one (muchos a uno)
# - df_flight: muchos registros por cliente
# - df_loyalty: un solo registro por cliente

print("\n‚úÖ Merge ejecutado correctamente")

‚úÖ Merge ejecutado correctamente

In [150]:
# 5Ô∏è‚É£ VERIFICACI√ìN DE LA CALIDAD DEL MERGE

print("\nüìä INFORMACI√ìN DESPU√âS DEL MERGE:")
print(f"   - Filas en df_merged: {df_merged.shape[0]:,}")
print(f"   - Columnas en df_merged: {df_merged.shape[1]}")
print(f"   - Clientes √∫nicos: {df_merged['loyalty_number'].nunique():,}")

# Comparaci√≥n Customer Flight Activity.csv vs Customer Loyalty History.csv: 
# 10 columnas + 16 columnas: 25 (restas 1 porque loyalty_number aparece en ambas tablas)
# Se mantienen las 405,624 filas de Customer Flight Activity ( no se pierden los vuelos)
# Todos los registros de Customer Loyalty History son perfiles de clientes √∫nicos.

# Comprobamos si hay nulos tras el merge
print("\nüî¥ NULOS TRAS EL MERGE:")
df_merged.isnull().sum().sort_values(ascending=False).head(10)
# han aumentado los nulos porque si un cliente tiene Salary = NaN, 
# Ese NaN se replica en todas sus filas de vuelos

?? cancellation_month         354110
    cancellation_year          354110

IndentationError: unexpected indent (188750062.py, line 20)

## Fase 2: An√°lisis Estad√≠stico

## Metodolog√≠a

Variables num√©ricas: 
- Medidas de tendencia central (media y mediana)
- Medidas de dispersi√≥n (desviaci√≥n est√°ndar, percentiles, coeficiente de variaci√≥n)
- Detecci√≥n de valores at√≠picos (outliers)
- An√°lisis de correlaciones

Variables categ√≥ricas:
- Distribuci√≥n de frecuencias (absolutas y relativas)
- Proporciones y categor√≠as dominantes

In [ ]:
# Estad√≠stica descriptiva num√©rica

display(df_flight.describe().T)  

# =========================================================
# 1) TOTAL FLIGHTS
# =========================================================

# --- Mediana vs Media (50%) ---
# Media: 5.1
# Mediana: 1.0
#
# Interpretaci√≥n:
# - El valor t√≠pico es la mediana (1 vuelo/mes).
# - La media es mucho mayor que la mediana ‚Üí asimetr√≠a positiva.
# - Existen outliers (viajeros frecuentes) que elevan la media.
# - Aunque el 50% vuela 1 vez o menos, algunos clientes llegan hasta 32 vuelos.

# --- Percentiles (25%, 50%, 75%) ---
# Q1 (25%) = 0
# Q2 (50%, mediana) = 1
# Q3 (75%) = 10
#
# Interpretaci√≥n:
# - El 75% de los clientes tiene 10 vuelos o menos.
# - Solo el 25% supera los 10 vuelos.
# - Gran diferencia entre Q2 y Q3 ‚Üí distribuci√≥n muy asim√©trica:
#   la mayor√≠a vuela poco, pero un grupo reducido vuela mucho.

# --- Desviaci√≥n est√°ndar y Coeficiente de Variaci√≥n ---
# Desviaci√≥n est√°ndar = 6.5
# CV = std / media = 6.5 / 5.1 = 1.25
#
# Conclusi√≥n:
# - CV > 1 ‚Üí alta dispersi√≥n.
# - Alta variabilidad explicada por valores extremos (outliers).

# =========================================================
# 2) CLV (Customer Lifetime Value)
# =========================================================

# --- Mediana vs Media (50%) ---
# Media: 7,988.90
# Mediana: 5,780.18
#
# Interpretaci√≥n:
# - El valor t√≠pico del cliente es la mediana: 5,780.18.
# - Diferencia absoluta: 2,208.72

# Diferencia porcentual:
# (Media - Mediana) / Mediana * 100
# = (7,988.90 - 5,780.18) / 5,780.18 * 100
# = 38.2%
#
# Conclusi√≥n:
# - Asimetr√≠a positiva considerable.
# - Existen clientes de muy alto valor (m√°x: 83,325.38)
#   que elevan significativamente la media.
# - El cliente t√≠pico aporta bastante menos que la media.

# --- Percentiles (25%, 50%, 75%) ---
# Q1 (25%) = 3,980.84
# Q2 (50%, mediana) = 5,780.18
# Q3 (75%) = 8,940.58
#
# Interpretaci√≥n:
# - El 75% de los clientes tiene un CLV ‚â§ 8,940.58.
# - Solo el 25% supera este valor.
# - Existe un segmento minoritario pero muy valioso de clientes (VIP).

# --- Desviaci√≥n est√°ndar y Coeficiente de Variaci√≥n ---
# Desviaci√≥n est√°ndar = 6,860.98
# CV = std / media = 6,860.98 / 7,988.90 = 0.86
#
# Conclusi√≥n:
# - CV cercano a 1 ‚Üí variabilidad considerable.
# - Poblaci√≥n heterog√©nea en valor aportado.
# - Coherente con la existencia de clientes de alto CLV.

# =========================================================
# 3) SALARY
# =========================================================

# --- Mediana vs Media (50%) ---
# Media: 79,245.61
# Mediana: 73,455.00
#
# Interpretaci√≥n:
# - El salario t√≠pico es la mediana: 73,455.00.
# - Diferencia absoluta: 5,790.61

# Diferencia porcentual:
# (79,245.61 - 73,455.00) / 73,455.00 * 100 = 7.88%
#
# Conclusi√≥n:
# - Asimetr√≠a positiva leve.
# - Distribuci√≥n mayormente sim√©trica con algunos salarios altos
#   que elevan la media (m√°x: 407,228).

# --- Percentiles (25%, 50%, 75%) ---
# Q1 (25%) = 59,246.50
# Q2 (50%, mediana) = 73,455.00
# Q3 (75%) = 88,517.50
#
# Interpretaci√≥n:
# - El 75% de los clientes gana ‚â§ 88,517.50.
# - Solo el 25% supera este valor.

# --- Desviaci√≥n est√°ndar y Coeficiente de Variaci√≥n ---
# Desviaci√≥n est√°ndar = 35,008.30
# CV = std / media = 35,008.30 / 79,245.61 = 0.44
#
# Conclusi√≥n:
# - CV < 0.5 ‚Üí variabilidad moderada.
# - Existe dispersi√≥n, pero no extrema.
# =========================================================

In [ ]:
# Estad√≠stica descriptiva 
CATEGORICA !!!!
df_merged.describe().T

## Fase 3: Visualizaci√≥n

In [ ]:
''' Usando las herramientas de visualizaci√≥n que has aprendido durante este m√≥dulo, contesta a las siguientes
preguntas usando la mejor gr√°fica que consideres:
. ¬øC√≥mo se distribuye la cantidad de vuelos reservados por mes durante el a√±o?
. ¬øExiste una relaci√≥n entre la distancia de los vuelos y los puntos acumulados por los cliente?
. ¬øCu√°l es la distribuci√≥n de los clientes por provincia o estado?
. ¬øC√≥mo se compara el salario promedio entre los diferentes niveles educativos de los clientes?
. ¬øCu√°l es la proporci√≥n de clientes con diferentes tipos de tarjetas de fidelidad?
. ¬øC√≥mo se distribuyen los clientes seg√∫n su estado civil y g√©nero? '''

## Fase 4: Evaluaci√≥n de Diferencias en Reservas de Vuelos por Nivel Educativo

In [ ]:
''' Utilizando un conjunto de datos que hemos compartido, se busca evaluar si existen diferencias
significativas en el n√∫mero de vuelos reservados seg√∫n el nivel educativo de los clientes. Para ello, los
pasos que deber√°s seguir son:
. Preparaci√≥n de Datos: Filtra el conjunto de datos para incluir √∫nicamente las columnas relevantes:
'Flights Booked' y 'Education'.
. An√°lisis Descriptivo: Agrupa los datos por nivel educativo y calcula estad√≠sticas descriptivas
b√°sicas (como el promedio, la desviaci√≥n est√°ndar) del n√∫mero de vuelos reservados para cada
grupo.'''